<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>
</head>
<body>
<form th:action="@{/addUser}" th:object="${user}" method="post">
<label for="fname"><b>First Name:</b></label>
<input type="text" name="fname" /><br><br>
<label for="lname"><b>Last Name:</b></label>
<input type="text" name="lname" /><br><br>
<label for="number"><b>Number:</b></label>
<input type="tel" name="number" /><br><br>
<label for="dob"><b>Date Of Birth:</b></label>
<input type="date" name="dob" /><br><br>
<label for="username"><b>User Name:</b></label>
<input type="text" name="username" /><br><br>
<label for="password"><b>Password:</b></label>
<input type="text" name="password" /><br><br>
<input type="submit" value="Submit" /><input type="reset" value="Reset" /><br><br>
</form>
</body>
</html>